#grid{
  position: relative;
  transform: perspective(400px) rotatex(45deg) scale(1.5);
}

.line{
  background-color: rgb(40, 210, 255);
  box-shadow: 0px 3px 0px 0px rgba(50, 100, 140, 0.2);
}

.line.left{box-shadow: 3px 3px 0px 0px rgba(77,154,222,0.2);
}
.line.right{box-shadow: -3px 3px 0px 0px rgba(77,154,222,0.2);
}

.lines-vertically.overlay .line{box-shadow: none !important;}
.lines-vertically.overlay{z-index: 1;}

.lines-horizontally, .lines-vertically{
  width: 100%;
  height: 100%;
  position: absolute;
}

.lines-vertically{
  display: flex;
  justify-content: space-between;
}

.lines-vertically .line{
  height: 100%;
  width: 5px;
}

.lines-horizontally .line{
  height: 3px;
  width: 100%;
  margin-top: 30px;
  
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes move {
  from  {transform: translate(0, -66px);}
  to  {transform: translate(0, 0);}
}