/*
1.  RESET
2.  FONT
3.  GENERAL
4.  IMAGES
5.  STYLES
  5.1  Buttons
6   TOURNAMENT BRACKET
  6.1  bracket
  6.2  Bracket background lines
  6.3  rows
  6.4  inputfields
  6.5  :after element
7.  SETTINGS
  7.2  Warning
8.  THEMES
9.  GRID
*/

/* 1. RESET ------------------------------------*/
 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  overflow: hidden;
}

*:focus{
  outline: none;
}

/* 2. FONT ------------------------------------*/

h2{
  font-family: 'Passion One', cursive;
  font-weight: 700;
  font-size: 18pt;
  text-transform: uppercase;
  color: #2071A4;
  padding-bottom: 5px;
}

h3{
  font-family: 'Passion One', cursive;
  font-weight: 400;
  font-size: 16pt;
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding-bottom: 25px;
}

p, input{
  font-family: 'Press Start 2P';
}

/* 3. GENERAL ------------------------------------*/
:root{
  --bg-color: rgb(40, 170, 255);
  --bracket-line-color: rgb(70, 185, 255);
  --bracket-line-shadow: rgb(30, 135, 200);
  --settings-bg-color: rgb(90, 190, 255, 0.9);
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(40, 170, 255);
}

@media (max-height: 700px){
  body{
    align-items: flex-start;
  }
}

.background{
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

#bg.background{
  display: flex;
  align-items: flex-end;
  width: 150%;
}

#gradient{
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, var(--bg-color) 25%, rgba(40, 170, 255, 0) 50%);
  z-index: 1;
  position: absolute;
}


/* 4. IMAGES ------------------------------------*/
#logo{
  margin-top: 20px;
  position: absolute;
  top: 0;
}

#logo img{
  height: 30vh;
}

#trophy{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#trophy img{
  height: 5vh;
}

/* 5. STYLES ------------------------------------*/
/* 5.1  Buttons ------------------*/
button{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Passion One', cursive;
  font-weight: 400;
  color: white;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  margin: 0;
}

button:active, #settings-icon:active, #info:active, .textbox:after{
  transform: scale(0.9);
}

button.btn-wide{
  min-width: 95px;
  max-width: 110px;
  width: 100%;
  height: 35px;
  font-size: 15pt;
  border-radius: 20px;
}

button.btn-small{
  width: 35px;
  height: 35px;
  font-size: 12pt;
  border-radius: 50%;
}

button.toggle{
  border: 2px dashed white;
  background-color: transparent;
}

button.toggle.active{border: 2px solid white;}
button.red{background-color: rgb(225, 106, 106);}
button.grey{background-color: #84A8BC;}

button.active, button:hover.active{background-color: #2071A4;}
button:hover{
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.2);
}

/* 6. TOURNAMENT BRACKET ------------------------------------*/
/* 6.1  bracket ------------------*/
#bracket{
  width: 90vw;
  max-width: 2200px;
  height: 80vh;
  max-height: 1000px;
  margin: 65px 6vw 0;
  position: relative;
  z-index: 1;
}

#bracket svg{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#bracket .eight.left{order: 1;}
#bracket .eight.right{order: 7;}
#bracket .quarter.left{order: 2;}
#bracket .quarter.right{order: 6;}
#bracket .semi.left{order: 3;}
#bracket .semi.right{order: 5;}
#bracket .final{order: 4;}

/* 6.2  Bracket background lines ------------------*/
#bracket .shaddow{opacity:0.5;}
#bracket .st0{stroke:var(--bracket-line-shadow);}
#bracket .st1{stroke:var(--bracket-line-color);}

#bracket .st0, #bracket .st1{
  fill:none;
  stroke-width:10;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

/* 6.3  rows ------------------*/
#rows-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.rows{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 1%;
}

.rows .box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  padding: 20px 0;
}

.rows.semi .box{height: 50% !important;}

/* 6.4  inputfields ------------------*/
.textbox{
  height: 100%;
  width: 100%;
  max-width: 180px;
  background-image: url(../assets/imgs/themes/taddl/textfield.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}

.textbox.lost{background-image: url(../assets/imgs/themes/taddl/textfield-lost.svg)}
.textbox.won{background-image: url(../assets/imgs/themes/taddl/textfield-won.svg);}

input{
  display: flex;
  margin: auto;
  height: 100%;
  width: 75%;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 12pt;
  color: white;
  transform: translate(-1px, -2px);
}

/* 6.5  :after element ------------------*/
.rows, .box, .textbox{
  overflow: visible;
}

.rows i{
  top: 50%;
  position: absolute;
  opacity: 0;
  font-size: 14pt;
  color: white;
}

.rows.left i{
  right: -7px;
  transform: translate(50%, -50%);
}

.rows.right i{
  left: -7px;
  transform: translate(-50%, -50%);
}

.textbox:hover i{
  opacity: 1;
}

/* 7. SETTINGS ------------------------------------*/
#settings{
  z-index: 1;
  position: absolute;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#settings-icon{
  width: 50px;
  height: 50px;
  cursor: pointer;
  overflow: visible;
}

#settings-icon path:not(#outline){
  fill: white;
  transform-origin: center;
}

#exit{transform: scale(0);}
#outline{fill: none;}

#settings #settings-icon:hover #gearwheel, #settings.active #gearwheel{
  animation: rotating 3s linear infinite;
}

@keyframes rotating {to {transform: rotate(360deg);}}

#inner-settings{
  margin-top: 25px;
  padding: 0;
  border: 1px solid white;
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 0px;
  background-color: var(--settings-bg-color);
  height: 0;
  width: 0;
  opacity: 0;
}

#inner-settings > div:not(:first-child){
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
}

#inner-settings > div > button{margin-top: 10px;}
#inner-settings > #mid-icons > button:first-child{margin-top: 0;}

#info{
  color: white;
  position: absolute;
  right: 10px;
  top: 10px;
}

#info i:hover{
  color: #2071A4;
  cursor: pointer;
}

/* 7.2  Warning ------------------*/
#reset{
  position: absolute;
  background-color: rgb(206, 96, 96);
  top: 0;
  left: 0;
  justify-content: center !important;
  transform: scale(1);
  border-radius: 20px;
}

#reset:not(.hidden){
  transition: all 0.4s ease;
}

#reset .btn-container{
  display: flex;
  width: 65%;
  justify-content: space-between;
}

#reset.hidden{
  top: 45px;
  transform: scale(0);
  border-radius: 150px;
  opacity: 0 !important;
}

#reset button.cancel{opacity: 0.4;}
#reset button.cancel:hover{opacity: 1;}
#reset button.confirm{border: 2px solid white;}


/* 8. THEMES ------------------------------------*/
/* Not Availible yet*/
#themes button:nth-child(3):after, #themes button:nth-child(3):before{
  position: absolute;
  content: "";
  height: 2px;
  background-color: red;
  width: 100%;
  top: 50%;
  left: 50%;
}

#themes button:nth-child(3):after{transform: translate(-50%, -50%) rotateZ(15deg)}
#themes button:nth-child(3):before{transform: translate(-50%, -50%) rotateZ(-15deg)}

/* 9. GRID ------------------------------------*/
#grid{
  opacity: 0.2;
  height: 80%;
  width: 100%;
  /* more in grid.css */
}